/*big devices*/
@media only screen and (max-width:1300px){
    .wrapper{
        width: 1280px;  
    }
    .conteiner1{
        width: 1280px;
    }
    .dws{
        top: 50%;
    }
    .butt1{
        top: 70px;
    }
    .conteiner2{
        width: 1280px;
    }
    .conteiner3{
        width: 1280px;
    }
}
/*min mig devices*/
@media only screen and (max-width:1080px){
     .wrapper{
        width: 960px;
    }
    .conteiner1{
        width: 960px;
        display: flex;
    height: 623px;
     background: url("../my_syt/sport/1_960.jpg")left no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    }
    .logo1{
         display: flex;
    width:90px;
height:95px;;
    background: url("logo_640.jpg")left no-repeat;
   border-radius: 50%;
    }
    .nazw1_1{
        position: absolute;
        left: 250px;
    }
    .nazw1_2{
        position: absolute;
        left: 200px;
    }
    .dws{
         position: absolute;
    top: 50%;
    left: 42%;
    }
    .dws1{
        position: absolute;
        top: 75%;
    }
    .dws2{
        position: absolute;
        top: 75%;
        left: 70%;
    }
    .dws3{
        position: absolute;
        left: 10%; 
        top: 90%;
    }
    .dws4{
        position: absolute;
        left: 70%;
        top: 90%;
    }
    .butt4{
    padding-left: 12px;
    padding-right: 30px;
    }
    .butt5{
        padding-left: 12px;
    padding-right: 30px;
    }
    .conteiner2{
        width: 960px;
        height: 650px;
        position: absolute;
        top:650px;
    }
    .nazw2_3{
        position: absolute;
        top: 230px;
    }
    .conteiner3{
        width: 960px;
        position: absolute;
        top: 1210px;
    }
}

/*средний девайс*/
@media only screen and (max-width:750px){
     .wrapper{
        width: 640px;
    }
    .conteiner1{
        width: 640px;
          display: flex;
    height: 415px;
     background: url("../my_syt/sport/1_640.jpg")left no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    }
     .nazw1_1{
        position: absolute;
        left: 120px;
    }
    .nazw1_2{
        position: absolute;
        left: 170px;
        font-size: 25px;
    }
     .dws{
         position: absolute;
    top: 55%;
    left: 45%;
    }
    .butt1{
        font-size: 18px;
        line-height: 20px;
    }
    .dws1{
        
    }
    .butt2{
        font-size: 18px;
        line-height: 20px;
    }
    .dws2{
        
    }
    .butt3{
        font-size: 18px;
        line-height: 20px;
    }
    .dws3{
        
    }
    .butt4{
      font-size: 18px;
        line-height: 20px;  
        padding-left: 16px;
        padding-right: 16px;
    }
    .butt5{
        font-size: 18px;
        line-height: 20px;
        padding-left: 18px;
        padding-right: 16px;
    }
    .conteiner2{
        width: 640px;
        height:  750px;
        position: absolute;
        top:430px;
    }
    .nazw2_3{
        position: absolute;
        top: 350px;
    }
    .nazw2_4{
        position: absolute;
        top: 390px;
    }
     .nazw2_5{
        position: absolute;
        top: 520px;
    }
    .nazw2_6{
        position: absolute;
        top: 560px;
    }
    .conteiner3{
         width: 640px;
        position: absolute;
        top: 1180px;
    }
}

/*маленький девайс*/
@media only screen and (max-width:550px){
     .wrapper{
        width: 480px;
    }
    .conteiner1{
        width: 480px;
          display: flex;
    height: 311px;
     background: url("../my_syt/sport/1_480.jpg")left no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    }
    .logo1{
         display: flex;
    width:70px;
height:74px;;
    background: url("logo_480.jpg")left no-repeat;
   border-radius: 50%;
    }
    .nazw1_1{
        font-size: 15px;
    }
    .nazw1_2{
        font-size: 20px;
        left: 110px;
        top: 70px;
    }
    .butt1{
        font-size: 15px;
        line-height: 15px;
    }
    .butt2{
        font-size: 15px;
        line-height: 15px;
    }
    .butt3{
        font-size: 15px;
        line-height: 15px;
    }
    .butt4{
        font-size: 15px;
        line-height: 15px;
    }
    .butt5{
        font-size: 15px;
        line-height: 15px;
    }
    .dws2{
        left: 69%;
    }
    .dws4{
        left: 69%;
    }
    .conteiner2{
      width:480px; 
        height: 850px;
        top: 330px;
        margin-bottom: 20px;
    }
    .nazw2_3{
      top: 430px;  
    }
    .nazw2_4{
       top: 470px; 
    }
    .nazw2_5{
        top: 660px;
    }
    .nazw2_6{
       top: 700px; 
    }
    .conteiner3{
        top: 1280px;
        width: 480px;
        top: 1180px;
    }
}
/*совсем маленький девайс*/
@media only screen and (max-width:450px){
     .wrapper{
        width: 375px;
    }
    .conteiner1{
        width: 375px;
    }
     .nazw1_1{
        font-size: 12px;
         left: 80px;
    }
    .logo1{
        left: 5px;
    }
    
    .nazw1_2{
        font-size: 20px;
        left: 80px;
        top: 70px;
    }
    .butt1{
        font-size: 15px;
        line-height: 15px;
    }
    .butt2{
        font-size: 14px;
        line-height: 15px;
        left: 10px;
    }
    .butt3{
        font-size: 14px;
        line-height: 10px;
    
    }
    .butt4{
        font-size: 14px;
        line-height: 15px;
        left: 10px;
    }
    .butt5{
        font-size: 14px;
        line-height: 10px;
    }
    .dws2{
        left: 69%;
    }
    .dws4{
        left: 69%;
    }
    .conteiner2{
      width:375px; 
        height: 800px;
        top: 330px;
        margin-bottom: 20px;
       
    }
    .nazw2_1{
        font-size: 22px;
    }
    .nazw2_2{
        font-size: 15px;
       
    }
    .nazw2_3{
        font-size: 22px;
      top: 410px;  
    }
    .nazw2_4{
       top: 450px; 
        font-size: 15px;
    }
    .nazw2_5{
        font-size: 22px;
        top: 610px;
    }
    .nazw2_6{
       top: 650px;
        font-size: 15px;
    }
    .conteiner3{
        top: 1280px;
        width: 375px;
        top: 1120px;
    }
}



/*прям совсем маленький девайс*/
@media only screen and (max-width:400px){
     .wrapper{
        width: 320px;
         box-sizing: border-box; 
    }
    .conteiner1{
        width: 320px;
    }
    .logo1{
     display: flex;
    width:45px;
height:47px;;
    background: url("logo_320.jpg")left no-repeat;
   border-radius: 50%;
    position: absolute;
    left: 5px;
    top: 10px;
}
     .nazw1_1{
        font-size: 11px;
         left: 50px;
    }
    .nazw1_2{
        font-size: 20px;
        left: 50px;
        top: 70px;
    }
    .butt1{
        font-size: 15px;
        line-height: 15px;
    }
    .butt2{
        font-size: 12px;
        line-height: 15px;
        left:10px;
    }
    .butt3{
        font-size: 12;
        line-height: 10px;
    
    }
    .butt4{
        font-size: 12px;
        line-height: 15px;
        left: 10px;
    }
    .butt5{
        font-size: 12px;
        line-height: 10px;
    }
    .dws2{
        left: 69%;
    }
    .dws4{
        left: 69%;
    }
    .conteiner2{
      width:320px; 
        height: 850px;
        top: 330px;
        margin-bottom: 20px;
       
    }
    .nazw2_1{
        font-size: 18px;
    }
    .nazw2_2{
        font-size: 15px;
        left: -10px;
       
    }
    .nazw2_3{
      top: 450px;
    font-size: 18px;
    }
    .nazw2_4{
       top: 480px; 
        font-size: 15px;
        left: -10px;
    }
    .nazw2_5{
        top: 660px;
        font-size: 18px;
    }
    .nazw2_6{
       top: 700px; 
         font-size: 15px;
        left: -10px;
    }
    .conteiner3{
        width: 320px;
        top: 1180px; 
    }
    .nazw3_1{
        font-size: 25px;
    }
}