/*min big devices*/
@media only screen and (max-width:1080px){
     .conteiner1{
        width: 960px;
         height: 850px;
}
    .nazw1_11{
        left: 190px;
    }
    .nazw1_1{
        left: 180px;
        top: 40px;
         font-size: 32px;
    }
    .foto1_1{
        left: 200px;
        top: 200px;
        
    }
    .nazw1_2{
        left: 20px;
    }
    .nazw1_3{
        left: 20px;
        top: 620px;
    }
    .conteiner2{
       width: 960px;
         display: flex;
    height: 600px;
    margin:20px;
    background:
url("sport/massa_gl_960.jpg")left no-repeat;
    position: absolute;
        top: 850px;
    }
    .nazw2_1{
        font-size: 25px;
    }
    .dws-wrapper{
        left: 350px;
    }
    .kn_oplata{
        left: 380px;
    }
}


