/*min big devices*/
@media only screen and (max-width:1080px){
     .conteiner1{
        width: 960px;
         height: 850px;
}
    .nazw1_11{
        left: 170px;
    }
    .nazw1_1{
        left: 120px;
         font-size: 34px;
    }
    .foto1_1{
        left: 170px;
        top: 150px;
        
    }
    .nazw1_2{
        left: 150px;
    }
    .nazw1_3{
        left: 30px;
        top: 630px;
    }
    .conteiner2{
       width: 960px;
         display: flex;
    height: 540px;
    margin:20px;
    background:
url("sport/massa_gl_960.jpg")left no-repeat;
    position: absolute;
        top: 850px;
    }
    .nazw2_1{
        font-size: 25px;
    }
    .dws-wrapper{
        left: 350px;
    }
    .kn_oplata{
        left: 380px;
    }
}


