/*min big devices*/
@media only screen and (max-width:960px){
     .conteiner1{
        width: 960px;
         height: 850px;
}
    .nazw1_11{
        left: 270px;
    }
    .nazw1_1{
        left: 180px;
    }
    .foto1_1{
        left: 270px;
        font-size: 34px;
    }
    .nazw1_2{
        left: 150px;
    }
    .nazw1_3{
        left: 30px;
        top: 630px;
    }
    .conteiner2{
       width: 960px;
        top: 850px;
    }
    .nazw2_1{
        font-size: 25px;
    }
    .dws-wrapper{
        left: 350px;
    }
    .kn_oplata{
        left: 380px;
    }
}


