/*средний девайс*/
@media only screen and (max-width:750px){
     .wrapper{
        width: 640px;
    }
    .conteiner1{
        width: 640px;
          display: flex;
    height: 415px;
     background: url("../my_syt/sport/1_640.jpg")left no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    }
     .nazw1_1{
        position: absolute;
        left: 120px;
    }
    .nazw1_2{
        position: absolute;
        left: 180px;
        font-size: 25px;
    }
     .dws{
         position: absolute;
  
    left: 45%;
    }
    .butt1{
        font-size: 18px;
        line-height: 20px;
    }
    .dws{
       top: 40%; 
    }
    .butt2{
        font-size: 18px;
        line-height: 20px;
    }
    .dws2{
        
    }
    .butt3{
        font-size: 18px;
        line-height: 20px;
    }
    .dws3{
        
    }
    .butt4{
      font-size: 18px;
        line-height: 20px;  
        padding-left: 16px;
        padding-right: 16px;
    }
    .butt5{
        font-size: 18px;
        line-height: 20px;
        padding-left: 18px;
        padding-right: 16px;
    }
    .conteiner2{
        width: 640px;
        height:  750px;
        position: absolute;
        top:430px;
    }
    .nazw2_3{
        position: absolute;
        top: 380px;
    }
    .nazw2_4{
        position: absolute;
        top: 420px;
    }
     .nazw2_5{
        position: absolute;
        top: 550px;
    }
    .nazw2_6{
        position: absolute;
        top: 590px;
    }
    .conteiner3{
         width: 640px;
        position: absolute;
        top: 1210px;
    }
}