/*При ширине экрана в 1160 и менее*/
@media (max-width: 1160px){
      .wrapper{
        width: 100%;
    }
    .conteiner1{
        width: 100%;
    }
    .nazw1_1{
        width: 100%;
        text-align: center;
        left: 10%;
    }
    .nazw1_2{
        width: 100%;
        text-align: center;
        left: 0%;
    }
    .butt1{
         width: 100%;
        text-align: center;
        left: 0%;
    }
    .dws{
        top: 60%;
    }
    .dws1{
        left: 10%;
    }
    .dws2{
        left: 10%;
        top: 95%;
}
    .dws3{
        left: 70%;
    }
    .dws4{
        left: 70%;
        top: 95%;
}
    .conteiner2{
        width: 100%;
        background-color: aqua;
    }
    .nazw2_2{
        top: 5%;
    }
     .nazw2_3{
        top: 45%;
    }
    .nazw2_4{
        top: 50%;
    }
     .nazw2_5{
        top: 70%;
    }
    .nazw2_6{
        top: 78%;
    }
    .conteiner3{
        width: 100%;
    }
}